body {
    font-family: Arial, sans-serif;
}
body.media {
	background-color: black;
}
video {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;

    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}